EC/Server/Service References/ServiceReference/item6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/GroupClient" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GroupClient" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="GroupService.QueryFormatData">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrCJ" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrWT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QueryTime" type="ser:duration" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="lstCJ" nillable="true" type="q1:ArrayOfstring" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="lstWT" nillable="true" type="q2:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GroupService.QueryFormatData" nillable="true" type="tns:GroupService.QueryFormatData" />
  <xs:complexType name="GroupService.QueryFilteData">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrCJ" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrWT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QueryTime" type="ser:duration" />
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="lstCJ" nillable="true" type="q3:ArrayOfstring" />
      <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="lstWT" nillable="true" type="q4:ArrayOfstring" />
      <xs:element minOccurs="0" name="strTitleCJ" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="strTitleWT" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GroupService.QueryFilteData" nillable="true" type="tns:GroupService.QueryFilteData" />
  <xs:complexType name="GroupService.Queryinfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Error" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Other" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Other2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GroupService.Queryinfo" nillable="true" type="tns:GroupService.Queryinfo" />
</xs:schema>