KFServer/Service References/ServiceReference/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:90/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GroupClient" />
  <xs:element name="Decrypt">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="string1" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DecryptResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DecryptResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Test">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IP" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Port" type="xs:short" />
        <xs:element minOccurs="0" name="Version" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="YybID" type="xs:short" />
        <xs:element minOccurs="0" name="AccountNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TradeAccount" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="JyPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TxPassword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TestResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroupClientID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="groupName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroupClientIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetGroupClientIDResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GroupName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Category" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GroupClient" minOccurs="0" name="QueryDataResult" nillable="true" type="q1:GroupService.Queryinfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryDataAuto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GroupName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SleepTime" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryDataAutoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GroupClient" minOccurs="0" name="QueryDataAutoResult" nillable="true" type="q2:GroupService.QueryDataObj" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GroupName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Category" type="xs:int" />
        <xs:element minOccurs="0" name="PriceType" type="xs:int" />
        <xs:element minOccurs="0" name="Gddm" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Zqdm" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Price" type="xs:float" />
        <xs:element minOccurs="0" name="Quantity" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/GroupClient" minOccurs="0" name="SendOrderResult" nillable="true" type="q3:GroupService.Queryinfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GroupName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ExchangeID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="hth" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/GroupClient" minOccurs="0" name="CancelOrderResult" nillable="true" type="q4:GroupService.Queryinfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>