ProjectTool/TradeInterface/TradeInterface/Service References/GroupServiceReference/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GroupClient" />
  <xs:import schemaLocation="http://localhost/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="Decrypt">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="string1" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DecryptResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DecryptResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Test">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IP" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Port" type="xs:short" />
        <xs:element minOccurs="0" name="Version" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="YybID" type="xs:short" />
        <xs:element minOccurs="0" name="AccountNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TradeAccount" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="JyPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TxPassword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TestResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroupClientID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="groupName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroupClientIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetGroupClientIDResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsGroupMultythread">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="groupName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsGroupMultythreadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsGroupMultythreadResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GroupName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Category" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GroupClient" minOccurs="0" name="QueryDataResult" nillable="true" type="q1:GroupService.Queryinfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryDataHK">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GroupName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Category" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryDataHKResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GroupClient" minOccurs="0" name="QueryDataHKResult" nillable="true" type="q2:GroupService.Queryinfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryDataAuto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GroupName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryDataAutoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/GroupClient" minOccurs="0" name="QueryDataAutoResult" nillable="true" type="q3:GroupService.QueryDataObj" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryDataAutoHK">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GroupName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryDataAutoHKResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/GroupClient" minOccurs="0" name="QueryDataAutoHKResult" nillable="true" type="q4:GroupService.QueryDataObj" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryDataAutoByMac">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="groupName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mac" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryDataAutoByMacResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/GroupClient" minOccurs="0" name="QueryDataAutoByMacResult" nillable="true" type="q5:GroupService.QueryFormatData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryDataFilted">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mac" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="GroupName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="needTitleInfo" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryDataFiltedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/GroupClient" minOccurs="0" name="QueryDataFiltedResult" nillable="true" type="q6:GroupService.QueryFilteData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOrderIDList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mac" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="GroupName" nillable="true" type="xs:string" />
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="orderIDs" nillable="true" type="q7:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOrderIDListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="UpdateOrderIDListResult" nillable="true" type="q8:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryOrderByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GroupName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="orderID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryOrderByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QueryOrderByIDResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryListByMac">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mac" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="GroupName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryListByMacResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="QueryListByMacResult" nillable="true" type="q9:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GroupName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Category" type="xs:int" />
        <xs:element minOccurs="0" name="PriceType" type="xs:int" />
        <xs:element minOccurs="0" name="Gddm" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Zqdm" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Price" type="xs:float" />
        <xs:element minOccurs="0" name="Quantity" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/GroupClient" minOccurs="0" name="SendOrderResult" nillable="true" type="q10:GroupService.Queryinfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GroupName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ExchangeID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="hth" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/GroupClient" minOccurs="0" name="CancelOrderResult" nillable="true" type="q11:GroupService.Queryinfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelOrderHK">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GroupName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="hth" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelOrderHKResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/GroupClient" minOccurs="0" name="CancelOrderHKResult" nillable="true" type="q12:GroupService.Queryinfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendIMSOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GroupName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="BSFlag" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="market" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Zqdm" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="price" type="xs:float" />
        <xs:element minOccurs="0" name="qty" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendIMSOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/GroupClient" minOccurs="0" name="SendIMSOrderResult" nillable="true" type="q13:GroupService.Queryinfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelImsOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GroupName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="market" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="zqdm" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="hth" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelImsOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/GroupClient" minOccurs="0" name="CancelImsOrderResult" nillable="true" type="q14:GroupService.Queryinfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AccountRepay">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="group" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="amount" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AccountRepayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AccountRepayResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>