ProjectTool/TradeInterface/TradeInterface/Service References/ServiceReference/DataWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LoginResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CompareToolLogin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CompareToolLoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CompareToolLoginResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LogOut">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LogOutResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetGroups">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGroupsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetGroupsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGroupNames">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGroupNamesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetGroupNamesResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveTradeData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="data" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dataType" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveTradeDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SaveTradeDataResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LoginSoapIn">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="LoginSoapOut">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="CompareToolLoginSoapIn">
    <wsdl:part name="parameters" element="tns:CompareToolLogin" />
  </wsdl:message>
  <wsdl:message name="CompareToolLoginSoapOut">
    <wsdl:part name="parameters" element="tns:CompareToolLoginResponse" />
  </wsdl:message>
  <wsdl:message name="LogOutSoapIn">
    <wsdl:part name="parameters" element="tns:LogOut" />
  </wsdl:message>
  <wsdl:message name="LogOutSoapOut">
    <wsdl:part name="parameters" element="tns:LogOutResponse" />
  </wsdl:message>
  <wsdl:message name="GetGroupsSoapIn">
    <wsdl:part name="parameters" element="tns:GetGroups" />
  </wsdl:message>
  <wsdl:message name="GetGroupsSoapOut">
    <wsdl:part name="parameters" element="tns:GetGroupsResponse" />
  </wsdl:message>
  <wsdl:message name="GetGroupNamesSoapIn">
    <wsdl:part name="parameters" element="tns:GetGroupNames" />
  </wsdl:message>
  <wsdl:message name="GetGroupNamesSoapOut">
    <wsdl:part name="parameters" element="tns:GetGroupNamesResponse" />
  </wsdl:message>
  <wsdl:message name="SaveTradeDataSoapIn">
    <wsdl:part name="parameters" element="tns:SaveTradeData" />
  </wsdl:message>
  <wsdl:message name="SaveTradeDataSoapOut">
    <wsdl:part name="parameters" element="tns:SaveTradeDataResponse" />
  </wsdl:message>
  <wsdl:portType name="DataWebServiceSoap">
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginSoapIn" />
      <wsdl:output message="tns:LoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CompareToolLogin">
      <wsdl:input message="tns:CompareToolLoginSoapIn" />
      <wsdl:output message="tns:CompareToolLoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LogOut">
      <wsdl:input message="tns:LogOutSoapIn" />
      <wsdl:output message="tns:LogOutSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetGroups">
      <wsdl:input message="tns:GetGroupsSoapIn" />
      <wsdl:output message="tns:GetGroupsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetGroupNames">
      <wsdl:input message="tns:GetGroupNamesSoapIn" />
      <wsdl:output message="tns:GetGroupNamesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveTradeData">
      <wsdl:input message="tns:SaveTradeDataSoapIn" />
      <wsdl:output message="tns:SaveTradeDataSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DataWebServiceSoap" type="tns:DataWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CompareToolLogin">
      <soap:operation soapAction="http://tempuri.org/CompareToolLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogOut">
      <soap:operation soapAction="http://tempuri.org/LogOut" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGroups">
      <soap:operation soapAction="http://tempuri.org/GetGroups" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGroupNames">
      <soap:operation soapAction="http://tempuri.org/GetGroupNames" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveTradeData">
      <soap:operation soapAction="http://tempuri.org/SaveTradeData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DataWebServiceSoap12" type="tns:DataWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CompareToolLogin">
      <soap12:operation soapAction="http://tempuri.org/CompareToolLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogOut">
      <soap12:operation soapAction="http://tempuri.org/LogOut" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGroups">
      <soap12:operation soapAction="http://tempuri.org/GetGroups" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGroupNames">
      <soap12:operation soapAction="http://tempuri.org/GetGroupNames" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveTradeData">
      <soap12:operation soapAction="http://tempuri.org/SaveTradeData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DataWebService">
    <wsdl:port name="DataWebServiceSoap" binding="tns:DataWebServiceSoap">
      <soap:address location="http://39.104.93.151/DataWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="DataWebServiceSoap12" binding="tns:DataWebServiceSoap12">
      <soap12:address location="http://39.104.93.151/DataWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>