EC/Client/AASClient/Service References/AASServiceReference/item6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Server.Adapter" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Server.Adapter" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAccounCoin">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AccounCoin" nillable="true" type="tns:AccounCoin" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAccounCoin" nillable="true" type="tns:ArrayOfAccounCoin" />
  <xs:complexType name="AccounCoin">
    <xs:sequence>
      <xs:element name="_x003C_Asset_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Free_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_Locked_x003E_k__BackingField" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AccounCoin" nillable="true" type="tns:AccounCoin" />
</xs:schema>