ATNew/AT/AASServer_V2.0/Service References/ServiceReference/item53.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/GroupClient" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GroupClient" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.1.253/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://192.168.1.253/?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="GroupService.Queryinfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Error" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Other" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Other2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GroupService.Queryinfo" nillable="true" type="tns:GroupService.Queryinfo" />
  <xs:complexType name="GroupService.QueryDataObj">
    <xs:sequence>
      <xs:element minOccurs="0" name="QueryTime" type="ser:duration" />
      <xs:element minOccurs="0" name="SearchOperatorError" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SearchOperatorResult" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SearchTradeErrInfo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SearchTradeResult" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GroupService.QueryDataObj" nillable="true" type="tns:GroupService.QueryDataObj" />
  <xs:complexType name="GroupService.QueryFormatData">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrCJ" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrWT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QueryTime" type="ser:duration" />
      <xs:element minOccurs="0" name="dtCJ" nillable="true">
        <xs:complexType>
          <xs:annotation>
            <xs:appinfo>
              <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
            </xs:appinfo>
          </xs:annotation>
          <xs:sequence>
            <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
            <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="dtWT" nillable="true">
        <xs:complexType>
          <xs:annotation>
            <xs:appinfo>
              <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
            </xs:appinfo>
          </xs:annotation>
          <xs:sequence>
            <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
            <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GroupService.QueryFormatData" nillable="true" type="tns:GroupService.QueryFormatData" />
  <xs:complexType name="GroupService.QueryFilteData">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrCJ" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrWT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QueryTime" type="ser:duration" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="lstCJ" nillable="true" type="q1:ArrayOfstring" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="lstWT" nillable="true" type="q2:ArrayOfstring" />
      <xs:element minOccurs="0" name="strTitleCJ" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="strTitleWT" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GroupService.QueryFilteData" nillable="true" type="tns:GroupService.QueryFilteData" />
</xs:schema>